::selection{
 color:#fff;
 background:#664AFF;

}

.search-box{
 position: relative;
 height: 60px;
 width: 60px;
 border-radius:50%;
 box-shadow: 5px 5px 30px rgba(0,0,0,.2);
 transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box.active{
 width: 350px;
}
.search-box input{
 height: 100%;
 width: 100%;
 border: none;
 border-radius: 50px;
 background:black;
 color: rgb(187, 62, 62);
 outline: none;
 padding: 0 60px 0 20px;
 font-size: 18px;
 opacity: 0;
 transition:all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box input.active{
 opacity: 1;
}
.search-box input::placeholder{
 color:solid red;
}
.search-box .search-icon{
 position: absolute;
 right: 0px;
 top: 50%;
 transform: translate(-50%);
 height: 60px;
 width: 60px;
 background: #364f6b;
 border-radius: 50%;
 text-align: center;
 line-height: 60px;
 font-size: 22px;
 color: #fff;
 cursor: pointer;
 z-index: 1;
 transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active{
 right: 5px;
 height:50px;
 line-height: 50px;
 width:50px;
 font-size:20px;
 background:#fff;
 color: #364f6b;
 transform: translateY(-50%) rotate(360deg);
}
.search-box .cencel-icon{
 position: absolute;
 right: 20px;
 top: 50%;
 transform:translateY(-50%);
 font-size:25px;
 color: #364f6b;
 cursor: pointer;
 transition:all 0.6s 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cencel-icon.active{
 right: -30px;
 transform: translateY(-50%) rotate(360deg);

}
.search-box .search-data{
 text-align: center;
 padding-top:7px;
 color:#fff;
 font-size:22px;
 word-wrap:break-word;
}
.search-box .search-data.active{
 display: none;
}
body{
 background-image: url("uuu.jpg");
 background-repeat: no-repeat;
 background-size: 1600px 800px;
}
